<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Visualization</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
    <link rel="stylesheet" href="../public/css/main.css" type="text/css"/>

    <!-- VENDOR SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js" ></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="../public/js/app.js"></script>

  </head>
  <body class="namespaced-ti desktop the_information">
    <header>
      <!-- navigation would be here -->
    </header>
    <section class="container">
      <div class="row">
        <div class="col-sm-12 pd-l-0">
          <article id="1" class="single articleLrg">
            <p class="articleHighlight">
              <a href="/features/Subscriber Survey">Subscriber Survey</a>
            </p>
            <h1 class="articleTitle ">IPO Profitability from 1980 to 2014</h1>
            <!-- Article Image or Chart -->
            <figure>
              <!-- checking for private chart -->
              <div class="chart-user-edu">*Charts are now interactive! Hover or click legend items to learn more.</div>
              <div id="chart1" class="chart-box"></div>
            </figure>
            <div class="row articleContentWrapper">
              <div class="articleMeta">
                <p class="articleAuthor block">By
                  <a class="quiet-link author_link" href="http://isangieri.com">Is Angieri</a>
                </p>
                <time class="articleDate">Mar. 31, 2016
                  <span>15:00 PM PDT</span>
                </time>
                <hr>
                <p class="articleCommentSnapshot">Mentions
                  <a href="/topic/Tech">Tech</a>,
                  <a href="/topic/Biotech">Biotech</a>
                </p>
              </div>
              <div class="articleContent" id="article_body">
                <p>Tech and Biotech IPOs that have taken place between 1980 and 2014 show macro trends of declining profitability and an increased number of IPOs.</p>
                <p>The annual data suggest that while IPOs in other industries have remained largely stable, the percentage of profitable Tech and Biotech IPOs has decreased over the past thirty-four years.</p>
                <hr>
                <div class="paywall">
                  To read the full article:
                  <div class="cta-button-group">
                    <a class="button button-cta" href="/subscribe">Subscribe Now
                      <i class='fa fa-long-arrow-right'></i>
                    </a>
                    <a class="button button-quiet" href="/sessions/new">Log In</a>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <div class="col-sm-12 pd-l-0">
          <article id="2" class="single articleLrg">
            <p class="articleHighlight">
              <a href="/features/Subscriber Survey">Subscriber Survey</a>
            </p>
            <h1 class="articleTitle ">Top Ridesharing Apps Marketshare across U.S., India, and Asia</h1>
            <!-- Article Image or Chart -->
            <figure>
              <!-- checking for private chart -->
              <div class="chart-user-edu">*Charts are now interactive! Hover or click legend items to learn more.</div>
              <div id="chart2" class="chart-box"></div>
            </figure>
            <div class="row articleContentWrapper">
              <div class="articleMeta">
                <p class="articleAuthor block">By
                  <a class="quiet-link author_link" href="http://isangieri.com">Is Angieri</a>
                </p>
                <time class="articleDate">Mar. 31, 2016
                  <span>15:00 PM PDT</span>
                </time>
                <hr>
                <p class="articleCommentSnapshot">Mentions
                  <a href="/topic/Tech">Uber</a>,
                  <a href="/topic/Biotech">Lyft</a>
                  and
                  <a data-toggle="modal" data-target="#topic-modal" href="#">7 others</a>
                </p>
              </div>
              <div class="articleContent" id="article_body">
                <p>Monthly data from January to May shows  Uber dominating Lyft in marketshare in the U.S., while making steady gains alongside competitor TaxiForSure on market leader, Ola cabs, in India. In Asia's market, Uber and GrabTaxi installbases show positive trends, while Easy Taxi's foothold in the market declines.</p>
                <p>The monthly data suggest that while Uber dominates the U.S. rideshare market, competitors in India and Asia continue to lead the market by more than double the percentage of Uber's marketshare. Marketshare is measured as a percentage of installbase across tens of millions of Android phones.</p>
                <hr>
                <div class="paywall">
                  To read the full article:
                  <div class="cta-button-group">
                    <a class="button button-cta" href="/subscribe">Subscribe Now
                      <i class='fa fa-long-arrow-right'></i>
                    </a>
                    <a class="button button-quiet" href="/sessions/new">Log In</a>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

  </body>
</html>
